<?xml version="1.0" ?>
<robot name="medium_box">
  <link name="base">
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.00002" iyy="0.00002" izz="0.00002"/>
    </inertial>

    <visual>
      <geometry>
        <box size="0.04 0.04 0.025"/>
      </geometry>
      <material name="green">
        <color rgba="0 1 0 1"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <box size="0.025 0.04 0.025"/>
      </geometry>
    </collision>
  </link>
</robot>
